* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    /* style the dody..it contains the 3 divs */
    width: 80%; 
    height: 80vh;
    border: 5px solid black;
    border-radius: 5px;
    margin: 50px auto;
    padding: 2%;
    color: rgb(150, 146, 130);
}

#output {
  display: flex;
  align-items: center; 
  overflow-wrap:break-word;
  overflow:hidden;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    height: 10%;
    width: 90%;
    margin-top: 0;
    border-radius: 5px;
    background-color: rgb(182, 207, 228);
    padding-inline-start: 5%;
    padding-inline-end: 5%;
}

.container {
  display: flex;
  margin: 0;
  margin-top: 3%;
  justify-content: space-between;
  align-items: center ;
  height: 85%;
  width: 100%;
}

#clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  font-size: 50px;
  border: red;
    border-radius: 5px;
    margin: 0;
    width: 15%;
    height: 100%;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5%;
    /* box-sizing: border-box; */
    border-radius: 5px;
    margin: 0;
    width: 80%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
  }


.grid-item {
    gap: 10 px;
    border-radius: 5px;
}



@keyframes pulseOne {
    0% {
      background-color: red;
    }
    33% {
      background-color: rgb(255, 177, 0);
    } 
    50% {
      background-color: rgb(255, 177, 0);
    }
    100% {
      background-color: red;
    }
  }
  
.pulsating {
    animation: pulseOne 5s infinite;
  }


.one-button {
    background-color:rgb(255, 177, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.op-button {
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: rgb(182, 207, 228);
}